<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PageRank Visualization</title>

        <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/angular-sanitize.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/content.js') }}"></script>

        <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/typo.css') }}">
        <link rel="icon" type="image/png" href="http://example.com/myicon.png">
    </head>

    <body>
        <h2><strong class="white">PageRank Data Visualization</strong></h2>

        <div class="content" id="content">
            <form>
                <input type="text" class="searchbar" name="query" id="query" value="">
                <button class="searchbtn" type="submit">Search</button>
            </form>
        </div>

        <div ng-app="pageRankApp" ng-controller="contentControl">
            <svg ng-bind-html="container" width="1024" height="500"></svg>
			<div ng-bind-html="notes"></div>
		</div>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>